@{
ViewData["Title"] = "403 Access Denied";
}
<div class="container body" style="padding-left:230px;padding-right:230px;margin-top:-7px;"> 
    <div class="card">
          <div class="row ">      
            <div class="col-md-12 px-3">
              <div class="card-block" style="border: 1px;">
                <div class="row">
                    <div class="col-md-7"><h5 class="card-title font-bold batasAtas" >Cost Structure Simulation Software</h5></div>
                    <div class="col-md-5"><img src="@Url.Content("~/adminlte/images/logos.png")" class="image-responsive" style="width:120px; height:40px; float: right;"></div>
               </div>
                <div class="card" style="margin-top: 7px; background:#fff;">
	<div class="card-body" style="margin: 15px ;">
        <div>
            <img src="~/adminlte/images/error.png" style="width:80%; margin: auto; display: block;">
        </div>
		<div class="row">
    <div class="col text-center">
        
    <a href='@Url.Action("Index","Home")' class="btn btn-default">Back to Home</a>
                             
    </div>
  </div>
		 
	</div>
</div>
               
               
             
               
              </div>
            </div>
          </div>
        </div>   
    </div>   

         