@{
ViewData["Title"] = "Home Page";
}
<div class="container body" style="padding-left:230px;padding-right:230px;margin-top:-7px;">
    <div class="card">
        <div class="row ">
            <div class="col-md-12 px-3">
                <div class="card-block" style="border: 1px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h5 class="card-title font-bold batasAtas">Cost Structure Simulation Software</h5>
                        </div>
                        <div class="col-md-5"><img src="@Url.Content("~/adminlte/images/logos.png")"
                                class="image-responsive" style="width:120px; height:40px; float: right;"></div>
                    </div>


                    <div class="text-center">
                        <h1 class="display-4">Welcome</h1>
                        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET
                                Core</a>.</p>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addData" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Term of Use
                    <a href="#" onclick="ukBtn()" style=" border-radius:3px;" class="pull-right flag-icon flag-icon-gb"
                        id="ukBtn" title="English"></a>
                    <a href="#" onclick="idBtn()" style="margin-right:10px; border-radius:3px;"
                        class="pull-right flag-icon flag-icon-id" title="Bahasa Indonesia" id="idBtn"></a>
                </h4>
            </div>
            <div class="modal-body">

                <blockquote class="blockquote">
                    <div id="termIndo">
                        <h5><mark>PT Perusahaan Gas Negara Tbk ("PGN")</mark> adalah pemilik dan operator Aplikasi SIAPP
                            GAS IN.</h5>

                        <h5>Informasi yang terdapat di dalam Aplikasi SIAPP GAS IN telah dipersiapkan sebaik mungkin
                            serta dari sumber terpercaya dan bertanggung jawab, yang terus menerus diperbaharui dan
                            dikebangkan sesuai dengan keadaan sebenarnya. Tujuan dari informasi ini sebgai referensi
                            atas aset operasi yang dikelola atau dioperasikan oleh PGN Group beserta utilitas lain di
                            sekitar aset tersebut.
                        </h5>
                        <h5>Seluruh informasi yang terdapat dalam Aplikasi SIAPP GAS IN ini bersifat rahasia, hanya
                            pengguna yang diberikan kewenangan yang dapat menggunakan Aplikasi SIAPP GAS IN. Dilarang
                            untuk menyingkap, menyimpan, mendistribusikan atau menggunakan informasi yang diperoleh dari
                            aplikasi SIAPP GAS IN untuk kepentingan komersil dan/atau kepentingan lain apapun selain
                            untuk kepentingan PGN tanpa persetujuan tertulis dari PGN dan wajib mencantumkan keterangan
                            SIAPP GAS IN sebagai sumber dan/atau referensi atas informasi tersebut.
                        </h5>
                        <h5>Seluruh informasi yang terdapat dalam Aplikasi SIAPP GAS IN ini bersifat rahasia, hanya
                            pengguna yang diberikan kewenangan yang dapat menggunakan Aplikasi SIAPP GAS IN. Dilarang
                            untuk menyingkap, menyimpan, mendistribusikan atau menggunakan informasi yang diperoleh dari
                            aplikasi SIAPP GAS IN untuk kepentingan komersil dan/atau kepentingan lain apapun selain
                            untuk kepentingan PGN tanpa persetujuan tertulis dari PGN dan wajib mencantumkan keterangan
                            SIAPP GAS IN sebagai sumber dan/atau referensi atas informasi tersebut.
                        </h5>
                        <h5>Seluruh informasi yang terdapat dalam Aplikasi SIAPP GAS IN ini bersifat rahasia, hanya
                            pengguna yang diberikan kewenangan yang dapat menggunakan Aplikasi SIAPP GAS IN. Dilarang
                            untuk menyingkap, menyimpan, mendistribusikan atau menggunakan informasi yang diperoleh dari
                            aplikasi SIAPP GAS IN untuk kepentingan komersil dan/atau kepentingan lain apapun selain
                            untuk kepentingan PGN tanpa persetujuan tertulis dari PGN dan wajib mencantumkan keterangan
                            SIAPP GAS IN sebagai sumber dan/atau referensi atas informasi tersebut.
                        </h5>
                    </div>
                    <div id="termUK">
                        <h5><mark>PT Perusahaan Gas Negara Tbk ("PGN")</mark> bla bla bla</h5>
                    </div>
                </blockquote>




            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-7" style="margin-left:-30px;">
                        <div class="checkbox">
                            <label style="">
                                <input type="checkbox" id="termOfUse" value=""> I have read and agree to the
                                <strong>Term of Use</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-5" style="margin-left:30px;">

                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"
                                id="goAhead">Gass In</button>
                            <button type="submit" class="btn btn-danger">Decline</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


@section Styles{
<style type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
</style>
<style type="text/css" src="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"></style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" rel="stylesheet" />
<style>
    #example_filter input {
        border-radius: 5px;
        height: 24px;
        float: right;

        margin-left: -20;
        margin-left: 10px;
        width: 246px;

    }

    a:hover {
        background-color: blue;
    }

    .modal {
        text-align: center;
        padding: 0 !important;
    }

    .modal-header {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        background-color: #fff817;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
        /* Adjusts for spacing */
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        overflow-y: initial !important;
    }

    .modal-body {
        height: 60vh;
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: grey;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: grey;
    }

    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }
</style>
@*
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">*@
}
@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#addData').modal('show');
        $("#goAhead").hide();

        $("#termUK").hide();

        const checkbox = document.getElementById('termOfUse')

        checkbox.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                $("#goAhead").show();
            } else {
                $("#goAhead").hide();
            }
        })


    });

    function idBtn() {
        $("#termUK").hide();
        $("#termIndo").show();
    }
    function ukBtn() {
        $("#termUK").show();
        $("#termIndo").hide();
    }
</script>
}