@{
    ViewData["Title"] = "Transport Cost";
}

<div class="col-md-12 formSimulation">
    <div class="x_panel">
        <div class="x_title">
            <h2>Cost Structure Simulation Software</h2>           
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left">
                <label><strong>Perhitungan Harga CNG</strong></label>
                 <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 ">Gas Usage</label>
                    <div class="col-md-3 col-sm-3 ">
                        <input type="number" id="volume" class="form-control" placeholder="...." required>
                    </div>
                    <div class="control-label col-md-6 col-sm-6 ">
                        <label>M<sup>3</sup> / Bulan</label>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 ">Jumlah Jam Operasi Per Hari</label>
                    <div class="col-md-3 col-sm-3 ">
                        <input type="number" id="opHari" class="form-control" placeholder="...." required>
                    </div>
                    <div class="control-label col-md-6 col-sm-6 ">
                        <label>Jam / Hari</label>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 ">Jumlah Operasi Hari Per Bulan</label>
                    <div class="col-md-3 col-sm-3 ">
                        <input type="number" id="opBulan" class="form-control" placeholder="...." required>
                    </div>
                    <div class="control-label col-md-6 col-sm-6 ">
                        <label>Hari / Bulan</label>
                    </div>
                </div>                
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 ">Lokasi</label>
                    <div class="col-md-2 col-sm-2 ">
                        <button type="button" class="btn btn-warning" onclick="showMaps()"> 
                          Pilih Lokasi
                        </button>
                    </div>
                    <div class="control-label col-md-1 col-sm-1 ">
                        <label>Jarak</label>
                    </div>
                    <div class="col-md-3 col-sm-3 ">
                        <input type="number" id="jarak" class="form-control" placeholder="...." readonly>
                    </div>
                    <div class="control-label col-md-3 col-sm-3 ">
                        <label>Km</label>
                    </div>
                </div>               

                <div class="ln_solid"></div>
                @*<div class="form-group">
                    <div class="col-md-9 col-sm-9  offset-md-3">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button onclick="HitungHarsga()" class="btn btn-success">Submit</button>
                    </div>
                </div>*@

            </form>
            <button type="reset" class="btn btn-primary">Reset</button>
            <button onclick="HitungHarga()" class="btn btn-success">Submit Oke</button>
        </div>
    </div>
</div>

@*<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:70%; height:400px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mapping Route</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="map" class="map"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
*@

<div class="clearfix"></div>

<div class="col-md-12 col-sm-12 routeMaps" >
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bars"></i> Route Maps</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

           <div id="map" class="map"></div>

        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 showTable">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bars"></i> Perhitungan Harga CNG</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

<div class="col-md-6">
    <table class="table  table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="4" ><center>Parameter</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>KURS</td>
      <td><span id="kurs"></span></td>
       <td>IDR</td>
    </tr>
    <tr>
      <td>Volume</td>
      <td><span id="volume2"></span></td>
      <td>M3/Bln</td>
    </tr>
    <tr>
      <td>Jumlah Jam Operasi</td>
      <td><span id="operasiHari"></span></td>
      <td>Jam/hari</td>
    </tr>
    <tr>
      <td>Jumlah Hari Operasi</td>
      <td><span id="operasiMinggu"></span></td>
      <td>Hari/minggu</td>
    </tr>
    <tr>
      <td>Jumlah Hari Operasi</td>
      <td><span id="operasiBulan"></span></td>
      <td>Hari/Bln</td>
    </tr>
    <tr>
      <td></td>
      <td><span id="m3hari"></span></td>
      <td>M3/Hari</td>
    </tr>
    <tr>
      <td></td>
      <td><span id="m3jam"></span></td>      
      <td>M3/jam</td>
    </tr>
    <tr>
      <td>MMBTU</td>
      <td><span id="mmbtu"></span></td>
      <td>M3</td>
    </tr>
    <tr>
      <td></td>
      <td><span id="mmbtuBln"></span></td>
      <td>Mmbtu/bln</td>
    </tr>
    <tr>
      <td></td>
      <td><span id="mmbtuHari"></span></td>
      <td>Mmbtu/hari</td>
    </tr>
    <tr>
      <td></td>
      <td><span id="mmbtuJam"></span></td>
      <td>Mmbtu/jam</td>
    </tr>
    <tr>
      <td colspan="3"><strong>PRS & Operator</strong></td>
    </tr>
    <tr>
      <td>Gaji Operator</td>
      <td><span id="gajiOperator"></span></td>
      <td>IDR/shift</td>
    </tr>
    <tr>
      <td>Jumlah Operator</td>
      <td><span id="jumlahOperator"></span></td>
      <td></td>
    </tr>
    <tr>
      <td>Investasi PRS</td>
      <td><span id="investasiPRS"></span></td>
      <td>IDR</td>
    </tr>
    <tr>
      <td>Depresiasi</td>
      <td><span id="depresiasi"></span></td>
      <td>Tahun</td>
    </tr>
    <tr>
      <td></td>
      <td><span id="depresiasiBulan"></span></td>
      <td>Bulan</td>
    </tr>
    <tr>
      <td colspan="3"><strong>GTM & Head Truck</strong></td>
    </tr>
    <tr>
      <td>Inv GTM Type 1/2 (5")</td>
      <td><span id="invGTM"></span></td>
      <td>USD</td>
    </tr>
     <tr>
      <td>Depresiasi</td>
      <td><span id="depresiasiGTM"></span></td>
      <td>Tahun</td>
    </tr>
     <tr>
      <td></td>
      <td><span id="depresiasiGTMBulan"></span></td>
      <td>Bulan</td>
    </tr>
     <tr>
      <td>Kebutuhan GTM</td>
      <td><span id="kebutuhanGTM"></span></td>
      <td></td>
    </tr>
     <tr>
      <td>Jumlah GTM Beli</td>
      <td><span id="jmlGTMbeli"></span></td>
      <td>unit</td>
    </tr>
     <tr>
      <td>Jumlah GTM Sewa</td>
      <td><span id="jmlGTMsewa"></span></td>
      <td>unit</td>
    </tr>
     <tr>
      <td colspan="3"></td>
    </tr>
     <tr>
      <td>Sewa Head Truck + Maintc.</td>
      <td><span id="jmlSewaHeadTruck"></span></td>
      <td>IDR/unit</td>
    </tr>
     <tr>
      <td>Sewa Head Truck</td>
      <td><span id="sewaHeadTruck"></span></td>
      <td>IDR/unit</td>
    </tr>
     <tr>
      <td>Sewa Bed Trailer (Trmk Mtc)</td>
      <td><span id="sewaBedTrailer"></span></td>
      <td>IDR/unit</td>
    </tr>
     <tr>
      <td>Jumlah Head Truck</td>
      <td><span id="jmlHeadTruck"></span></td>
      <td>unit</td>
    </tr>
     <tr>
      <td>Jumlah Bed Trailer</td>
      <td><span id="jmlBedTrailer"></span></td>
      <td>unit</td>
    </tr>
    <tr>
      <td>Biaya Transport (Tol & Other)</td>
      <td><span id="biayaTransport"></span></td>
      <td>per rit</td>
    </tr>
     <tr>
      <td>Jumlah Supir</td>
      <td><span id="jmlSupir"></span></td>
      <td></td>
    </tr>
     <tr>
      <td>Gaji Supir</td>
      <td><span id="gajiSupir"></span></td>
      <td>1 org/bln</td>
    </tr>
     <tr>
      <td colspan="3"></td>
    </tr>
     <tr>
      <td>Jarak Tempuh</td>
      <td><span id="jarakTempuh"></span></td>
      <td>Km (PP)</td>
    </tr>
     <tr>
      <td>Sewa GTM</td>
      <td><span id="sewaGTM"></span></td>
      <td></td>
    </tr>
     <tr>
      <td>Asal Station</td>
      <td><span id="#"></span></td>
      <td></td>
    </tr>
     <tr>
      <td>Lokasi Capel</td>
      <td><span id="#"></span></td>
      <td></td>
    </tr>
     

  </tbody>
</table>
</div>
<div class="col-md-6">
    <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="3" ><center>MS (Milik Sendiri)</center></th>
    </tr>
    <tr>
      <th scope="col"  ><center></center></th>
      <th scope="col"  ><center>$/MMBtu</center></th>
      <th scope="col"  ><center>Rp/MMBtu</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HARGA GAS</td>
      <td><span id="hargaGas"></span></td>
      <td><span id="hargaGasRp"></span></td>
    </tr>
    <tr>
      <td>B. COMPRESSED</td>
      <td><span id="compressed"></span></td>
      <td><span id="compressedRp"></span></td>
    </tr>
    <tr>
      <td>Total Transportasi Cost</td>
      <td><span id="totalTransportasiCost"></span></td>
      <td><span id="totalTransportasiCostRp"></span></td>
    </tr>
    <tr>
      <td>PRS</td>
      <td><span id="prsCost"></span></td>
      <td><span id="prsCostRp"></span></td>
    </tr>
    <tr>
      <td>OPERATOR</td>
      <td><span id="operatorCost"></span></td>
      <td><span id="operatorCostRp"></span></td>
    </tr>
    <tr>
      <td>GTM (MILIK)</td>
      <td><span id="gtmCost"></span></td>
      <td><span id="gtmCostRp"></span></td>
    </tr>
    <tr>
      <td>GTM (SEWA)</td>
      <td><span id="gtmSewaCost"></span></td>      
      <td><span id="gtmSewaCostRp"></span></td>  
    </tr>
    <tr>
      <td>HEAD TRUCK (SEWA)</td>
      <td><span id="headTruckSewaCost"></span></td>
      <td><span id="headTruckSewaCostRp"></span></td>
    </tr>
    <tr>
      <td>B. FUEL + LAIN-LAIN</td>
      <td><span id="lainLain"></span></td>
      <td><span id="lainLainRp"></span></td>
    </tr>
    <tr>
      <td>OVERHEAD COST</td>
      <td><span id="overheadCost"></span></td>
      <td><span id="overheadCostRp"></span></td>
    </tr>
    <tr>
      <td>MARGIN</td>
      <td><span id="marginCost"></span></td>
      <td><span id="marginCostRp"></span></td>
    </tr>
    <tr>
      <td>HARGA JUAL</td>
      <td><span id="hargaJual"></span></td>
      <td><span id="hargaJualRp"></span></td>
    </tr>
    <tr>
      <td>Harga Rp/M3</td>
      <td></td>
      <td><span id="hargaM3"></span></td>
    </tr>

  </tbody>
</table>

<br />
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="2" ><center>BIAYA TRANSPORTASI</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HARGA BBM</td>
      <td><span id="hargaBBM"></span></td>
    </tr>
    <tr>
      <td>(Cost BBM/Ritase 1 : 7) IDR/Rite</td>
      <td><span id="costBBMRitase"></span></td>
    </tr>
    <tr>
      <td>Jumlah Ritase / bln</td>
      <td><span id="ritaseBulan"></span></td>
    </tr>
    <tr>
      <td>Kapasitas GTM</td>
      <td><span id="kapasitasGTM"></span></td>
    </tr>
    <tr>
      <td>Kapasitas GTM Beli</td>
      <td><span id="kapasitasGTMbeli"></span></td>
    </tr>
    <tr>
      <td>Kapasitas GTM Sewa</td>
      <td><span id="kapasitasGTMsewa"></span></td>
    </tr>
    <tr>
      <td>Biaya BBM/bulan</td>
      <td><span id="biayaBBMBulan"></span></td>   
    </tr>
    <tr>
      <td>Biaya BBM IDR/M3</td>
      <td><span id="biayaBBMIDRM3"></span></td>
    </tr>
    <tr>
      <td>Biaya BBM US$/MMbtu</td>
      <td><span id="biayaBBMUS"></span></td>
    </tr>
    <tr>
      <td>Gaji Supir & Tol/Other per bulan</td>
      <td><span id="gajiSopirBulan"></span></td>
    </tr>
    <tr>
      <td>Gaji Supir & Tol/Other (IDR/M3)</td>
      <td><span id="gajiSopirBulanIDRM3"></span></td>
    </tr>
    <tr>
      <td>Gaji Supir & Tol/Other (US$/MMbtu)</td>
      <td><span id="gajiSopirUS"></span></td>
    </tr>
    <tr>
      <td colspan="2"></td>      
    </tr>
    <tr>
      <td>Total Biaya Transportasi IDR/M3</td>
      <td><span id="biayaTransIDR"></span></td>
    </tr>
    <tr>
      <td>Total Biaya Transportasi US$/MMbtu</td>
      <td><span id="biayaTransUS"></span></td>
    </tr>

  </tbody>
</table>

<br />
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="2" ><center>HASIL AKHIR</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pendapatan</td>
      <td><span id="resultPendapatan"></span></td>
    </tr>
    <tr>
      <td>hpp</td>
      <td><span id="resultHPP"></span></td>
    </tr>
    <tr>
      <td>Pendapatan Kotor</td>
      <td><span id="resulPendapatanKotor"></span></td>
    </tr>
    <tr>
      <td>Biaya Operasi</td>
      <td><span id="resultBiayaOperasi"></span></td>
    </tr>
    <tr>
      <td>Depresiasi dan lain-lain</td>
      <td><span id="resultDepresiasi"></span></td>
    </tr>
    <tr>
      <td>Laba</td>
      <td><span id="resultLaba"></span></td>
    </tr>
    

  </tbody>
</table>
</div>

        </div>
    </div>
</div>




@section Styles{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <link rel="stylesheet" href="~/plugins/leaflet/leaflet-routing-machine.css" />
    
    <style>
        .map {
   height: 400px;
    width: 100%;
}

.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 480px;
    overflow-y: scroll;
}


    </style>
}

@section Scripts{
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="~/plugins/leaflet/leaflet-routing-machine.js"></script>
    <script src="~/plugins/leaflet/Control.Geocoder.js"></script>
    <script src="~/plugins/leaflet/config.js"></script>@*
    <script src="~/plugins/leaflet/index.js"></script>*@

    <script>

var map = L.map('map');

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var control = L.Routing.control(L.extend(window.lrmConfig, {
	waypoints: [
		L.latLng(-6.159907, 106.815383),
		L.latLng(-6.396613724841606, 106.76112413406372)
		//L.latLng(106.8154764175415, -6.159883541129861),
		//L.latLng(106.76112413406372, -6.396613724841606)
	],
	geocoder: L.Control.Geocoder.nominatim(),
	routeWhileDragging: true,
	reverseWaypoints: true,
	showAlternatives: true,
	altLineOptions: {
		styles: [
			{color: 'black', opacity: 0.15, weight: 9},
			{color: 'white', opacity: 0.8, weight: 6},
			{color: 'blue', opacity: 0.5, weight: 2}
		]
	}
})).addTo(map);

L.Routing.errorControl(control).addTo(map);
control.on('routesfound', function(e) {
   var routes = e.routes;
   var summary = routes[0].summary;
    $("#jarak").val((summary.totalDistance / 1000).toFixed(2));
   //// alert distance and time in km and minutes
   //alert('Total distance is ' + summary.totalDistance / 1000 + ' km and total time is ' + Math.round(summary.totalTime % 3600 / 60) + ' minutes');

});
map.whenReady(() => {
    console.log('Map ready');
    setTimeout(() => {
        map.invalidateSize();
    }, 0);
});

map.setView([24.7136, 46.6753], 5);  
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".showTable").hide();
            $(".routeMaps").hide();
        });

function showMaps(){
    $(".formSimulation").hide();
    $(".routeMaps").show();
}

function HitungHarga() {
    $(".showTable").show();
    let nf = new Intl.NumberFormat('en-US');
   var kurs = 13400; //IDR    
   $("#kurs").text(nf.format(kurs));
   var volume = $("#volume").val(); // M3/Bln
   $("#volume2").text(nf.format(volume));
   var operasiHari = $("#opHari").val(); // (Jam / Hari)
   $("#operasiHari").text(operasiHari);
   var operasiMinggu =  7 ; // (Hari / Minggu)
   $("#operasiMinggu").text(operasiMinggu);
   var operasiBulan =  $("#opBulan").val(); // (Hari / Bulan)
   $("#operasiBulan").text(operasiBulan);
   var m3hari = volume / operasiBulan ; // (M3 / Hari)
   $("#m3hari").text(m3hari);
   var m3jam = Math.round(m3hari / operasiHari) ; // (M3 / Jam)   
   $("#m3jam").text(m3jam);
   var mmbtu = 28.5; // (M3 / Jam)
   $("#mmbtu").text(mmbtu);
   var mmbtuBln = Math.round(volume / mmbtu); // (MMBTU / Bln)
   $("#mmbtuBln").text(mmbtuBln);
   var mmbtuHari = (mmbtuBln / operasiBulan).toFixed(2); // (MMBTU / Hari)
   $("#mmbtuHari").text(mmbtuHari);
   var mmbtuJam = (mmbtuHari / operasiHari).toFixed(1); // (MMBTU / Jam)
   $("#mmbtuJam").text(mmbtuJam);

   //PRS & OPERATOR

   var gajiOperator = 4000000; // IDR/Shift
   $("#gajiOperator").text(nf.format(gajiOperator));

   var jumlahOperator = 1; 
   $("#jumlahOperator").text(jumlahOperator);

   var investasiPRS = 130000000; //IDR
   $("#investasiPRS").text(nf.format(investasiPRS));

   var depresiasi = 8; // Tahun
   $("#depresiasi").text(depresiasi);

   var depresiasiBulan = depresiasi * 12; // Bulan
   $("#depresiasiBulan").text(depresiasiBulan);

   //GTM & Head Truck
   var invGTM = 20800; //USD
   $("#invGTM").text(nf.format(invGTM));

   var depresiasiGTM = 8; // Tahun
   $("#depresiasiGTM").text(depresiasiGTM);

   var depresiasiGTMBulan = depresiasiGTM * 12; // Bulan
   $("#depresiasiGTMBulan").text(depresiasiGTMBulan);

   var jmlGTMbeli = 2; //unit
   $("#jmlGTMbeli").text(jmlGTMbeli);

   var jmlGTMsewa = 0; //unit
   $("#jmlGTMsewa").text(jmlGTMsewa);

   var kapasitasGTMbeli = 300; // GTM Beli 
   $("#kapasitasGTMbeli").text(kapasitasGTMbeli);

   var kapasitasGTMsewa = 0; // GTM Sewa 
   $("#kapasitasGTMsewa").text(kapasitasGTMsewa);

   var kapasitasGTM = ((kapasitasGTMbeli * jmlGTMbeli) + ( kapasitasGTMsewa * jmlGTMsewa ) ) / (jmlGTMbeli + jmlGTMsewa);
   $("#kapasitasGTM").text(kapasitasGTM);

   var kebutuhanGTM = (m3hari / kapasitasGTM).toFixed(2) ; // Kebutuhan GTM
   $("#kebutuhanGTM").text(kebutuhanGTM);

   var sewaHeadTruck = (7500000 + 750000); // Sewa Head Truck IDR/Unit
   $("#sewaHeadTruck").text(nf.format(sewaHeadTruck));

   var sewaBedTrailer = 0; // Sewa Bed Trailer IDR/Unit
   $("#sewaBedTrailer").text(sewaBedTrailer);

   var jmlHeadTruck = 2; // Jumlah Head Truck /Unit
   $("#jmlHeadTruck").text(jmlHeadTruck);

   var jmlBedTrailer = 0; // Jumlah Bed Trailer / Unit
   $("#jmlBedTrailer").text(jmlBedTrailer);

   var biayaTransport = 100000; // per rit
   $("#biayaTransport").text(nf.format(biayaTransport));

   var jmlSupir = 1; //Jumlah Supir
   $("#jmlSupir").text(jmlSupir);

   var gajiSupir = 4000000; // 1 org / Bulan
   $("#gajiSupir").text(nf.format(gajiSupir));

   var jmlSewaHeadTruck = (sewaHeadTruck + sewaBedTrailer) * 1.1; // IDR / Unit
   $("#jmlSewaHeadTruck").text(nf.format(jmlSewaHeadTruck));

   //var jarak = $("#jarak").val(); //Jarak Tempuh KM (PP)
   var jarak = 45; //Jarak Tempuh KM (PP)
    var calJarak = jarak * 2;
   $("#jarakTempuh").text(calJarak);

   var sewaGTM = 0; 
   $("#sewaGTM").text(sewaGTM);


   // Milik Sendiri
   //Harga Gas        
           // $/MMBtu                                   
                    var hargaGas = ((7.56) + (450 * mmbtu / kurs)).toFixed(2); 
                    $("#hargaGas").text(nf.format(hargaGas));
           //Rp/MMBtu
                    var hargaGasRp = hargaGas * kurs;        
                    $("#hargaGasRp").text(nf.format(hargaGasRp));
    //B. COMPRESSED        
           // $/MMBtu                                   
                    var compressed = 1.5; 
                    $("#compressed").text(compressed);
           //Rp/MMBtu
                    var compressedRp = compressed * kurs;  
                    $("#compressedRp").text(nf.format(compressedRp));
      //PRS        
           // $/MMBtu                                   
                    var param1 = (investasiPRS / mmbtuBln); 
                    var param2 = (param1 / kurs); 
                    var prsCost = (param2 / depresiasiBulan).toFixed(2); 
                    $("#prsCost").text(nf.format(prsCost));
           //Rp/MMBtu
                    var prsCostRp = (prsCost * kurs).toFixed();  
                    $("#prsCostRp").text(nf.format(prsCostRp));
      //Operator      
           // $/MMBtu                                   
                    var oper1 = (gajiOperator * jumlahOperator) / mmbtuBln;
                    var operatorCost = (oper1 / kurs).toFixed(2);
                    $("#operatorCost").text(operatorCost);
           //Rp/MMBtu
                    var operatorCostRp = operatorCost * kurs;  
                    $("#operatorCostRp").text(nf.format(operatorCostRp));
      //GTM(Milik Sendiri)       
           // $/MMBtu                                   
                    var gtm1 =(invGTM*jmlGTMbeli)/mmbtuBln; 
                    var gtmCost =(gtm1/depresiasiGTMBulan).toFixed(2); 
                    $("#gtmCost").text(gtmCost);
           //Rp/MMBtu
                    var gtmCostRp = gtmCost * kurs;  
                    $("#gtmCostRp").text(nf.format(gtmCostRp));
      //GTM (Sewa)        
           // $/MMBtu                                   
                    var gtmSewa1 = (sewaGTM/kurs)*jmlGTMsewa; 
                    var gtmSewaCost = gtmSewa1/mmbtuBln; 
                    $("#gtmSewaCost").text(gtmSewaCost);
           //Rp/MMBtu
                    var gtmSewaCostRp = gtmSewaCost * kurs;  
                    $("#gtmSewaCostRp").text(nf.format(gtmSewaCostRp));
      //Head Truck (Sewa)        
           // $/MMBtu                                   
                     var head1 = (sewaHeadTruck * jmlHeadTruck) / kurs / mmbtuBln;
                     var head2 = (sewaBedTrailer * jmlBedTrailer) / kurs / mmbtuBln;
                     var headTruckSewaCost = (head1+head2).toFixed(2);
                    $("#headTruckSewaCost").text(nf.format(headTruckSewaCost));
           //Rp/MMBtu
                    var headTruckSewaCostRp = (headTruckSewaCost * kurs).toFixed(2);  
                    $("#headTruckSewaCostRp").text(nf.format(headTruckSewaCostRp));
      //B Fuel & Lain - lain        
           // $/MMBtu                                   
                    var lainLain = 1.8; 
                    $("#lainLain").text(lainLain);
           //Rp/MMBtu
                    var lainLainRp = lainLain * kurs;  
                    $("#lainLainRp").text(nf.format(lainLainRp));
           
    //OVERHEAD COST        
           // $/MMBtu                                   
                    var overheadCost = 0.6; 
                    $("#overheadCost").text(overheadCost);
           //Rp/MMBtu
                    var overheadCostRp = overheadCost * kurs;      
                    $("#overheadCostRp").text(nf.format(overheadCostRp));
    //MARGIN       
           // $/MMBtu                                   
                    var marginCost = 1; 
                    $("#marginCost").text(marginCost);
           //Rp/MMBtu
                    var marginCostRp = marginCost * kurs;    
                    $("#marginCostRp").text(nf.format(marginCostRp));
    //Total Transportasi Cost    
           // $/MMBtu                                   
                    var totalTransportasiCost = parseFloat(prsCost) + parseFloat(operatorCost) + parseFloat(gtmCost) + parseFloat(gtmSewaCost) + parseFloat(headTruckSewaCost) + parseFloat(lainLain); 
                    $("#totalTransportasiCost").text(totalTransportasiCost);
           //Rp/MMBtu
                    var totalTransportasiCostRp = totalTransportasiCost * kurs;    
                    $("#totalTransportasiCostRp").text(nf.format(totalTransportasiCostRp));
            
    //HARGA JUAL      
           // $/MMBtu                                   
                    var hargaJual = parseFloat(hargaGas) + parseFloat(compressed) + parseFloat(totalTransportasiCost) + parseFloat(overheadCost) + parseFloat(marginCost); 
                    $("#hargaJual").text(nf.format(hargaJual));
           //Rp/MMBtu
                    var hargaJualRp = hargaJual * kurs;    
                    $("#hargaJualRp").text(nf.format(hargaJualRp));
    //HARGA Rp/M3    
           //Rp/MMBtu
                    var hargaM3 =  (hargaJualRp / mmbtu).toFixed(); 
                    $("#hargaM3").text(nf.format(hargaM3));

//Harga BBM 
var hargaBBM = 6500;
$("#hargaBBM").text(nf.format(hargaBBM));
                   
//Cost BBM/Ritase 1 : 7) IDR/rite
var costBBMRitase = ((hargaBBM * jarak) / 7).toFixed();
$("#costBBMRitase").text(nf.format(costBBMRitase));

//Jumlah Ritase /bln
var ritaseBulan = volume / kapasitasGTM;
$("#ritaseBulan").text(ritaseBulan);

//Biaya BBM/bulan
var biayaBBMBulan = (costBBMRitase * ritaseBulan).toFixed();
$("#biayaBBMBulan").text(nf.format(biayaBBMBulan));

//Biaya BBM IDR/M3
var biayaBBMIDRM3 = (biayaBBMBulan / volume).toFixed();
$("#biayaBBMIDRM3").text(biayaBBMIDRM3);

//Biaya BBM US$ /MMbtu
var biayaBBMUS = (biayaBBMIDRM3 / kurs * mmbtu).toFixed(2);
$("#biayaBBMUS").text(biayaBBMUS);

//Gaji Sopir & Toll/Other per bulan 
var gajiSopirBulan =(gajiSupir*jmlSupir)+(biayaTransport*ritaseBulan) ;
$("#gajiSopirBulan").text(nf.format(gajiSopirBulan));

//Gaji Sopir & Toll/Other (IDR/M3)
var gajiSopirBulanIDRM3 =gajiSopirBulan/volume ;
$("#gajiSopirBulanIDRM3").text(gajiSopirBulanIDRM3);

//Gaji Sopir & Toll/Others US$/Mmbtu
var gajiSopirUS = (gajiSopirBulanIDRM3/kurs*mmbtu).toFixed(2) ;
$("#gajiSopirUS").text(gajiSopirUS);

//T. By Transportasi IDR/ M3
var biayaTransIDR =(parseFloat(biayaBBMIDRM3) + parseFloat(gajiSopirBulanIDRM3))*110/100;
$("#biayaTransIDR").text(nf.format(biayaTransIDR));
//T. By Transportasi US$/ MMbtu
var biayaTransUS  =(parseFloat(biayaBBMUS) + parseFloat(gajiSopirUS));
$("#biayaTransUS").text(nf.format(biayaTransUS));

// RESULT //

//Pendapatan
    var resultPendapatan = (hargaJualRp*mmbtuBln).toFixed(0);
    $("#resultPendapatan").text(nf.format(resultPendapatan));
//HPP
    var resultHPP =hargaGasRp*mmbtuBln;
    $("#resultHPP").text(nf.format(resultHPP));
//Pendapatan kotor
    var resulPendapatanKotor = resultPendapatan - resultHPP; 
    $("#resulPendapatanKotor").text(nf.format(resulPendapatanKotor));
//Biaya Operasi
    var resultBiayaOperasi = (parseFloat(operatorCostRp) + parseFloat(lainLainRp) + parseFloat(overheadCostRp)) * mmbtuBln;
    $("#resultBiayaOperasi").text(nf.format(resultBiayaOperasi));
//Depresiasi dan lain-lain
    var resultDepresiasi = (parseFloat(prsCostRp) + parseFloat(gtmCostRp)) * mmbtuBln;
    $("#resultDepresiasi").text(nf.format(resultDepresiasi));
//Laba
    var resultLaba = resulPendapatanKotor - (parseFloat(resultBiayaOperasi) + parseFloat(resultDepresiasi));
    $("#resultLaba").text(nf.format(resultLaba));

    
}
    </script>
}